header {
  background-color: darkcyan;
  padding: 1.25em 0;
  border-bottom: 1px solid rgba(221, 221, 221, 0.8);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.mobile__icon {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list--primary {
  margin: 0 auto;
}

.nav__item + .nav__item {
  margin-left: 2em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.75;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

@media screen and (max-width: 768px) {
  .mobile__icon {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    color: white;
    cursor: pointer;
  }

  .nav {
    display: none;
  }
}
