@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.primary {
  color: #6c3494;
}

.accent {
  color: #0085ff;
}

.background--primary {
  background-color: #6c3494;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.section__wrapper {
  padding: 5rem 0;
}

.section__topic {
  font-weight: 600;
  margin-bottom: 1rem;
}

.section__title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
